<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ppdai.demo.数据迁移性能优化.dao.BatchUserListDao">

    <resultMap id="BatchUserListResultMap" type="com.ppdai.demo.数据迁移性能优化.entity.BatchUserList">
        <id column="id" property="id"></id>
        <result column="user_id" property="userId"></result>
        <result column="type" property="type"></result>
        <result column="insert_time" property="insertTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="is_active" property="isActive"></result>
    </resultMap>

    <select id="selectAll" resultMap="BatchUserListResultMap">
        SELECT * FROM t_batchuserlist
    </select>

    <!--初始化数据(批量)-->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_batchuserlist(user_id,type)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.userId},#{item.type})
        </foreach>
    </insert>

</mapper>