<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ppdai.demo.数据迁移性能优化.dao.IKUserListDao">

    <resultMap id="IKUserListResultMap" type="com.ppdai.demo.数据迁移性能优化.entity.IKUserList">
        <id column="id" property="id"></id>
        <result column="user_id" property="userId"></result>
        <result column="filter_type" property="filterType"></result>
        <result column="user_type" property="userType"></result>
        <result column="insert_time" property="insertTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="is_active" property="isActive"></result>
    </resultMap>

    <select id="selectAll" resultMap="IKUserListResultMap">
        SELECT * FROM t_lk_user_list
    </select>

    <!--初始化数据(单条)-->
    <insert id="init" parameterType="com.ppdai.demo.数据迁移性能优化.entity.IKUserList" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_lk_user_list(user_id,filter_type,user_type)
        VALUES (#{userId},#{filterType},#{userType})
    </insert>

    <!--初始化数据(批量)-->
    <insert id="batchInit" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_lk_user_list(user_id,filter_type,user_type)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.userId},#{item.filterType},#{item.userType})
        </foreach>
    </insert>

    <!--先查询有多少条数据-->
    <select id="getCount" resultType="Integer">
        SELECT COUNT(*) FROM t_lk_user_list
        WHERE DATE_FORMAT(insert_time,'%Y-%m-%d') = #{insertTime} AND is_active = 1 AND user_type = 1
    </select>

    <!--每次查询1000条数据-->
    <select id="batchFetch" resultMap="IKUserListResultMap">
        SELECT user_id,filter_type
        FROM t_lk_user_list
        WHERE DATE_FORMAT(insert_time,'%Y-%m-%d') = #{insertTime} AND is_active = 1 AND user_type = 1
    </select>
</mapper>